.confirm {
  background-color: dodgerblue;
  padding-inline: 20px;
  padding-block: 5px;
  color: white;
  border-radius: 40px;
  margin: 10px;
  width: auto;
}

.confirm_dissable {
  background-color: rgba(1, 118, 235, 0.37);
  padding-inline: 20px;
  padding-block: 5px;
  color: black;
  border-radius: 40px;
  margin: 10px;
  width: auto;
}

.bg_incolor {
  background-color: rgba(0, 0, 0, 0.329);
}

.text-shadow {
  text-shadow: 2px 2px rgba(226, 225, 223, 0.267);
}

h1 {
  font-size: large;
  font-weight: bold;
}

.modal {
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.modalOrders {
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.modal_data {
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.modal-popup {
  min-width: 300px;
  width: auto;
  max-width: 1200px;
  height: auto;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 5px 5px rgba(161, 161, 161, 0.63);
  border-radius: 10px;
}

@media (max-width: 1199px) {
  .menu-icons {
    display: none;
  }
}

@media (min-width: 1199px) {
  .max-menu {
    display: none;
  }

}

@media (min-width: 901px) {
  .max-menu-icon {
    display: none;
  }


}

@media (max-width: 900px) {

  .menu,
  .setting-menu,
  .header-search {
    display: none;
  }
}

@media (max-height: 700px) {
  .menu,.menu-icons  {
    display: none;
  }
}

@media (max-height: 600px) {
  .menu {
    display: none;
  }
}

.icon_btn {
  width: auto;
  height: auto;
}

.menu-icons {
  overflow-y: hidden;
}

.cancel {
  background-color: rgb(255, 255, 255);
  padding-inline: 20px;
  padding-block: 5px;
  color: red;
  border-radius: 40px;
  margin: 10px;
  width: auto;
  border-block: 2px solid black;

}

ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

ul li {
  display: flex;
  width: 100%;
  margin: 1px;
  justify-content: space-between;
}


/* Custom scrollbar for Webkit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px; 
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 20px;
  
}

::-webkit-scrollbar-thumb:hover {
  background: #d6d6d6;
}

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c09d #f1f1f1;
}